/* Wetterstationen Euregio Beispiel */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: black;
}

main {
    max-width: 1200px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 80% 20%;
}

header h2 {
    margin: 0;
}

header nav {
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 1em;
}

article {
    margin-top: 0.5em;
}

#map {
    width: 100%;
    height: 85vh;
    border: 1px solid gray;
}

footer {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    margin-top: 0.5em;
}

footer nav {
    display: inline-block;
}

.aws-div-icon span {
    border: 1px solid silver;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.3em;
    text-shadow: 
        -1px -1px 0 white,
        -1px 1px 0 white,
        1px -1px 0 white,
        1px 1px 0 white;
}

.aws-div-icon-wind span {
    border: 1px solid silver;
    border-radius: 0.5em;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.5em;
    text-shadow: 
        -1px -1px 0 white,
        -1px 1px 0 white,
        1px -1px 0 white,
        1px 1px 0 white;
}